@font-face {
    font-family: 'DM Serif Display Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DM Serif Display Regular'), url('fonts/DMSerifDisplay-Regular.woff') format('woff');
}


@font-face {
    font-family: 'DM Serif Display Italic';
    font-style: normal;
    font-weight: normal;
    src: local('DM Serif Display Italic'), url('fonts/DMSerifDisplay-Italic.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display Regular';
    position: relative;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    // display: flex;
    // justify-content: space-around;

    &__menu {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 57px;
        align-items: center;
    }

    &__text {
        color: #292F36;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        padding-left: 10px;
    }

    &__nav a {
        text-decoration: none;
        color: #292F36;
        text-align: center;
        font-family: 'Jost';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        padding-left: 40px;
        /* 25px */
    }
}

.main {
    &__top_text {
        width: 444px;
    }

    &__top {
        position: relative;
        // border: 1px solid;
        border-radius: 50px;
        background-image: url('img/Images.png');
        min-height: 758px;
        // height: 758px;
        background-repeat: no-repeat;
        // background-size: contain;

        padding-left: 50px;
        display: flex;
        align-items: center;

        &_h1 {
            color: #292F36;

            font-size: 65px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }

        &_txt {
            color: #4D5053;
            font-family: 'Jost', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
            padding-top: 18px;
        }

        &_button {
            padding-top: 26px;
            padding-bottom: 26px;
            padding-right: 48px;
            padding-left: 48px;
            border-radius: 18px;
            background-color: #292F36;
            color: #fff;
            border: 0px;
            font-size: 18px;
            // position: absolute;
            bottom: -150px;
        }
    }

    &__text1 {
        text-align: center;
        padding-top: 100px;
        padding-left: 20%;
        padding-right: 20%;

    }

    &__h2 {
        color: #292F36;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1px;
    }

    &__p {
        color: #4D5053;
        text-align: center;
        font-family: "Jost";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
    }

    &__h3 {
        color: #292F36;

        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
    }

    &__link {
        color: #4D5053;
        font-family: 'Jost';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
    }


    &__cat {
        // min-width: 547px;
        width: 547px;
    }

    &__cat_down {
        justify-content: space-between;
        padding-top: 24px;
        display: flex;
    }


    &__catalog {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        padding-top: 93px;
        padding-bottom: 93px;
    }

    &__cat1 img {
        border-radius: 0px 50px 0px 0px;
    }

    &__cat2 img {
        border-radius: 50px 0px 0px 0px;
    }

    &__cat3 img {
        border-radius: 0px 0px 50px 0px;
    }

    &__cat4 img {
        border-radius: 0px 0px 0px 50px;
    }

    &__number {
        text-align: center;
    }

    &__numbers {
        background-color: #F4F0EC;

    }

    &__span {
        color: #CDA274;

        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 106.25px */
        letter-spacing: 1.7px;

    }

    &__flex {
        display: flex;
        justify-content: center;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    &__number {
        width: 300px;
    }

    &__number1 {
        border-right: 1px solid #CDA274;

    }

    &__number2 {
        border-right: 1px solid #CDA274;

    }

    &__number3 {
        border-right: 1px solid #CDA274;

    }

    &__news_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }

    &__news {
        width: 382px;
        padding: 20px;
        border: 1px solid #E7E7E7;
        border-radius: 50px;
    }

    &__news img {
        border-radius: 30px 30px 0 0;
    }

    &__news:hover {
        background-color: #E7E7E7;
    }

    &__h3 {
        color: #292F36;

        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
    }

    &__news_bottom span {
        color: #4D5053;
        font-family: 'Jost';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;

    }

    &__bottom {
        padding-top: 52px;
        display: flex;
        gap: 27px;
        padding-bottom: 93px;
    }
}

.footer {
    padding-bottom: 134px;
    display: flex;

    &__left {
        width: 33%;
    }

    &__left p {
        color: #4D5053;
        font-family: 'Jost';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.22px;
        padding-bottom: 30px;
        padding-top: 18px;
    }

    &__svg svg {
        margin-right: 50px;
    }

    &__center {
        padding-left: 100px;
        display: flex;
        width: 33%;
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__p {
        font-size: 25px;
    }



    &__center a {
        text-decoration: none;
        font-size: 22px;
        color: #4D5053;
        font-style: normal;
        font-weight: 400;
        line-height: 300%;
        /* 66px */
        letter-spacing: 0.22px;
        font-family: 'Jost';
    }


    &__right {
        width: 33%;
        padding-left: 100px;
    }

    &__pp {
        color: #4D5053;
        font-family: 'Jost';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

}


.mainblog {
    position: relative;

    &__photo {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 200px;
    }

    &__photo img {
        width: 100%;
        
        height: 100%;

        object-fit: contain;
        
    }

    &__h1 {
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 62.5px */
        letter-spacing: 1px;
    }

    &__photo p {
        font-size: 22px;
    }



    &__txt {
        height: 178px;
        text-align: center;
        position: absolute;
        //margin-top: 178px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        width: 30%;
        background-color: white;
        border-radius: 37px 37px 0 0;
        bottom: 0px;
    }

    &__post1 {
        display: flex;
        border: 1px solid #E7E7E7;
        padding: 22px;
        border-radius: 62px;
    }

    &__post1 img {
        width: 50%;
    }

    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 65px;
        margin-right: 30px;
    }

    &__right h3 {
        color: #292F36;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
    }

    &__right p {
        color: #4D5053;
        font-family: 'Jost';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
    }

    &__right1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right1 span {
        color: #4D5053;
        font-family: 'Jost';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
    }

    &__post1 {
        margin-top: 27px;
    }

    &__news{
        margin-top: 150px;
        
    }

    &__news1{
        margin-top: 30px;
        display: flex;
        gap: 27px;
        flex-wrap: wrap;
    }

    &__nav{
text-align: center;        
    }

}

.btn{
    margin-top: 50px;
        margin-bottom: 200px;
        border: 1px solid #CDA274;;
        width: 52px;
        height: 52px;
        border-radius: 50px;
        color: #292F36;
font-family: 'Jost';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
background-color: white;
}

.btn:hover{
    background-color: #F4F0EC;
}

.btn1,.btn2,.btn3{
    margin-right: 37px;
}